<div class="main">
  <app-todo-item
    *ngFor="let todo of todos"
    [todo]="todo"
    (editEmitter)="handleEdit($event)"
    (deleteEmitter)="deleteTodo(todo)"
  ></app-todo-item>

  <input name="newTodo" (keyup)="handleKeyUp($event)" [(ngModel)]="newTodo" placeholder="New task" required>
  <input name="description" (keyup)="handleKeyUp($event)" [(ngModel)]="newDescription" placeholder="Description" required>
  <button class="blue-grey waves-effect waves-light btn" (click)="addNewTodo()">Add new todo</button>
</div>
