<div class="card" >
  <div class="card-image">
    <img class="responsive-img" src={{movie.Poster}}>
    <span class="card-title">{{movie.Title}}</span>
  </div>
  <div class="card-content">
    <span (click)="toggleFullInfo()" class="card-title activator grey-text text-darken-4">{{movie.Year}}</span>
    <p>
      <a (click)="toggleFullInfo()">{{ showFull ? "-" : "+" }} d'infos</a>
    </p>
    <div *ngIf="showFull">
      <ul>
        <li><strong>Genres:</strong> {{fullInfo.Genre}}</li>
        <li><strong>Directeur:</strong> {{fullInfo.Director}}</li>
        <li><strong>Synopsis:</strong> {{fullInfo.Plot}}</li>
        <li><strong>Récompenses:</strong> {{fullInfo.Awards}}</li>
        <li>
          <strong>Avis:</strong>
          <ul>
            <li *ngFor="let rating of fullInfo.Ratings">{{rating.Source}}: {{rating.Value}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
