<div class="row">
  <div class="col s12 m6">
    <div class="card" [ngClass]="{'white': todo.done, 'blue-grey darken-1': !todo.done}">
      <div class="card-content" [ngClass]="{'black-text': todo.done, 'white-text': !todo.done}">
        <span *ngIf="!isInEditMode" class="card-title">
          {{todo.label}} <i (click)="toggleEditMode()" class="material-icons">create</i>
        </span>
        <app-todo-form
          *ngIf="isInEditMode"
          (todoNameEmitter)="handleEdit($event)"
          [buttonMessage]="'Confirmer'"
        ></app-todo-form>
        <p>No Description Yet</p>
        <a (click)="deleteSelf()" class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">close</i></a>
      </div>
      <div class="card-action">
        <a (click)="toggleDone()">{{todo.done ? 'Undo' : 'Done'}}</a>
        <div class="chip">Created: {{ todo.creationDate | customdate:true }}</div>
      </div>
    </div>
  </div>
</div>
